
<img class="index-item-picture" src="<%= restaurant.escape("picture") %>" alt="" />
<a class="restaurant-name" href="#/restaurants/<%= restaurant.get("id") %>"><%= restaurant.escape("name") %></a>
<br>
<div class="cuisine">
  <%= restaurant.escape("cuisine")%>
</div>
<br><br>
<a href="http://maps.google.com/?q=<%= restaurant.escape("address") %>" 
  target="_blank"><%= restaurant.escape("address") %></a>
  <br><br>
<% if (restaurant.get("average_rating") === null) { %>
  rating is undetermined<br><br>
<% } else { %>
  rating is <%= restaurant.get("average_rating") %><br><br>
<% } %>
