<section class="restaurant-info">


  <img class="restaurant-image" src="<%= restaurant.escape("picture") %>" alt="" />
  <h2><%= restaurant.escape("name") %></h2>
  <%= restaurant.escape("cuisine") %><br>
  <%= restaurant.escape("address") %> <br>
  <% if (restaurant.get("average_rating") === null) { %>
    rating is undetermined<br><br>
  <% } else { %>
    rating is <%= restaurant.get("average_rating") %><br><br>
  <% } %>

  <button class="edit-restaurant">Edit Restaurant Details</button>

  <section class="form-section">
  </section>

  <% if (restaurant.get("user_owned_review")) {%>
    <button class="edit-review" data-review-id="<%= restaurant.get("user_owned_review") %>">Edit My Review</button>
  <% } else { %>
    <button class="add-review">Write Review</button>
  <% } %>

  <section class="review-form-section"></section>
</section>


<ul class="reviews-list group">
</ul>

<section class="errors">
</section>
