<div class="sign">
  <span class="sign-in">
  <h2 class="sign">WelpyWelp</h2>

  <form  class="sign" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="input group">
      <label for="username">Username</label>
      <input type="text" name="user[username]" value="" id="username">
    </div>

    <div class="input group">
      <label for="password">Password</label>
      <input type="password" name="user[password]" value="" id="password">
    </div>
    <div class="buttons group">
      <button class="sign">Sign In</button>
      <a class="sign" href="<%= new_user_url %>">Or Sign Up</a>
    </div>
  </form>
  <form class="" action="<%= session_demo_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button class="sign">Demo User</button>
  </form>
  </span>
</div>
