<%= review.get("id") %><br>
<%= review.escape("body") %><br>
<%= review.escape("title") %>
Rating is <%= review.escape("rating") %><br>
<a href="#/users/<%= review.escape("author_id") %>"><%= review.escape("author_name") %></a>
