<a href="#/restaurants/<%= review.get("restaurant_id") %>"><%= review.escape("restaurant_name") %></a>
<br>
<%= review.escape("restaurant_cuisine")%>
<br>
<%= review.escape("body") %><br>
<%= review.escape("title") %>
Rating is <%= review.escape("rating") %><br>
<ul class="picture-show">

</ul>
<br>
<% if (review.get("belongs_to_current_user")){%>
  <button class="edit-review" data-review-id="<%= review.get("id") %>">Edit Review</button>
<% } %>
