<div class="sign">
<span class="sign-up">

  <h2 class="sign">WelpyWelp</h2>

  <form class="sign" action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="input">
      <label for="username">Username</label>
      <input type="text" name="user[username]" value="<%= @user.username%>" id="username">
    </div>

    <div class="input">
      <label for="email">Email</label>
      <input type="text" name="user[email]" value="<%= @user.email %>" id="email">
    </div>

    <div class="input">
      <label for="password">Password</label>
      <input type="password" name="user[password]" value="" id="password">
    </div>

    <div class="input">
      <label for="password_confirmation">Confirm Password</label>
      <input type="password" name="user[password_confirmation]" value="" id="password_confirmation">
    </div>

    <div class="buttons">
      <button class="sign">Sign Up</button>
      <a class="sign" href="<%= new_session_url %>">Or Sign In</a>
    </div>
  </form>
</span>
</div>
